.hg*
*.jpg
*.ipch
*.opensdf
*.sdf
*.manifest
*TestOutPut*
*.o
*.pdb
*.mat*
*.suo
T*.txt
*.d
*xyz*
.settings*
*.cproject
*.project
mergeBathy/mergeBathy.vcxproj.user.orig
Output_Files/*.txt
Output_Files/*/*.txt
*.vsp
Output_Files/*.bag
Output_Files/*.xml
syntax: glob
*~
api/CMakeLists.txt
api/readme.txt
*TestOutput*
*.obj
*.tlog
*.log
*.cache
*.lastbuildstate
*.res
*.idb
*.rc
*/share/*
*.aps

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
